.about-img {
    width: 31rem;
    height: 33rem;
    overflow: hidden;
    border-radius: 240px 100px 240px 100px;
}

@media screen and (max-width:768px){
    .about-img {
        width: 21rem;
        height: 22.375rem;
        border-radius: 60px 140px 60px 140px;
    }
}